In [17]:
run = "y"

while run == "y":
    print("Hi!")
    run = input("To run again. Enter 'y'")

Hi!
To run again. Enter 'y'y
Hi!
To run again. Enter 'y'y
Hi!
To run again. Enter 'y'n

In [24]:

# The list of candies to print to the screen
candyList = ["Snickers", "Kit Kat", "Sour Patch Kids", "Juicy Fruit",
             "Swedish Fish", "Skittles", "Hershey Bar", "Skittles", "Starbursts", "M&Ms"]

# The amount of candy the user will be allowed to choose
allowance = 5

# The list used to store all of the candies selected inside of
candyCart = []

# Print all of the candies to the screen and their index in brackets
for candy in candyList:
    print("[" + str(candyList.index(candy)) + "] " + candy)

[0] Snickers
[1] Kit Kat
[2] Sour Patch Kids
[3] Juicy Fruit
[4] Swedish Fish
[5] Skittles
[6] Hershey Bar
[5] Skittles
[8] Starbursts
[9] M&Ms

In [26]:
 candyList[1]

'Kit Kat'

In [27]:
for x in range(allowance):
    selected = input("Which candy would you like to bring home? ")

    # Add the candy at the index chosen to the candyCart list
    candyCart.append(candyList[int(selected)])

# Loop through the candyCart to say what candies were brought home
print("I brought home with me...")
for candy in candyCart:
    print(candy)

Which candy would you like to bring home? 3
Which candy would you like to bring home? 4
Which candy would you like to bring home? 5
Which candy would you like to bring home? 3
Which candy would you like to bring home? 1
I brought home with me...
Juicy Fruit
Swedish Fish
Skittles
Juicy Fruit
Kit Kat

In [28]:
candyCart

['Juicy Fruit', 'Swedish Fish', 'Skittles', 'Juicy Fruit', 'Kit Kat']

In [29]:
# Import the random and string Module
import random
import string

# Utilize the string module's custom method: ".ascii_letters"
print(string.ascii_letters)

# Utilize the random module's custom method randint
for x in range(10):
    print(random.random(string.ascii_letters))

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
6
6
9
8
2
5
3
2
1
9

In [32]:
for x in range(10):
    print(random.randint(string.ascii_letters))

TypeError: randint() missing 1 required positional argument: 'b'

In [33]:
fish = "halibut"

# Loop through each letter in the string
# and push to an array
letters = []
for letter in fish:
    letters.append(letter)

print(letters)

['h', 'a', 'l', 'i', 'b', 'u', 't']

In [34]:
letters = [letter for letter in fish]

In [35]:
letters

['h', 'a', 'l', 'i', 'b', 'u', 't']

In [36]:
capital_letters = [letter.upper() for letter in fish]

print(capital_letters)

['H', 'A', 'L', 'I', 'B', 'U', 'T']

In [38]:
# We can also add conditional logic (if statements) to a list comprehension
july_temperatures = [87, 85, 42, 35, 106,14]
# hot_days = []
# for temperature in july_temperatures:
#     if temperature > 90:
#         hot_days.append(temperature)
# print(hot_days)

# List Comprehension with conditional
cold_days = [temperature for temperature in july_temperatures if temperature <50]

print(cold_days)

[42, 35, 14]

In [39]:
# Write a function that returns the arithmetic average for a list of numbers
def average(numbers):
    length = len(numbers)
    total = 0.0
    for number in numbers:
        total += number
    return total / length


# Test your function with the following:
print(average([1, 5, 9]))
print(average(range(11)))

5.0
5.0

In [41]:
import pandas as pd

In [44]:

# We can create a Pandas Series from a raw list# We ca 
data_series = pd.Series(letters)
data_series

0    h
1    a
2    l
3    i
4    b
5    u
6    t
dtype: object

In [45]:
states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"}]

df_states = pd.DataFrame(states_dicts)
df_states

  ABBREVIATION       STATE
0           NJ  New Jersey
1           NY    New York

In [47]:

# Create a DataFrame of frames using a dictionary of lists# Creat 
frame_df = pd.DataFrame({
    "Frame": ["Ornate", "Classical", "Modern", "Wood", "Cardboard"],
    "Price": [15.00, 12.50, 10.00, 5.00, 1.00],
    "Sales": [100, 200, 150, 300, "N/A"]
})
frame_df

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A

In [48]:
data_file = "students.csv"

In [49]:
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [59]:
data_file_pd.shape

(39170, 7)

In [60]:
unique = list(data_file_pd["school_name"].unique())

In [54]:
# The value_counts method counts unique values in a column
count = data_file_pd["school_name"].value_counts()
count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [64]:
list(data_file_pd.columns)

['Student ID',
 'student_name',
 'gender',
 'grade',
 'school_name',
 'reading_score',
 'math_score']

In [ ]:
organized_df = data_file_pd[["Name","Trainer","Weight","Membership(Days)"]]
organized_df.head()